<link rel="stylesheet" href="stylesheets/userMeneger.css" />

<label class="userBread">后台管理 / 用户管理</label>
<div class="usermanDiv">
<div class="admin">
    <h1>管理员</h1>

    <div class="firstDiv">
        <label>user输入用户名：</label>
        <input id="user"></input>
        <label>输入密码：</label>
        <input id="psd"></input>
    </div>

    <form>
        <label>管理员<input type="radio" checked="checked" name="permission" value="1" /></label>
        <label>普通用户<input type="radio" name="permission" value="0" /></label>
        <button id="changePermission">修改权限</button>
        <button id="changePsd">修改密码</button>
        <button id="addUser">增加账户</button>
    </form>

    
</div>
<h1>用户列表查询</h1>
<table id="userTable" cellpadding="0" cellspacing="0">
    <tr id='userTableHead'>
        <th style="width: 15%;"><label>编号<input onchange=fun()></input></label></th>
        <th style="width: 15%;"><label>邮箱<input onchange=fun()></input></label></th>
        <th style="width: 15%;"><label>密码<input onchange=fun()></input></label></th>
        <th style="width: 15%;"><label>姓名<input onchange=fun()></input></label></th>
        <th style="width: 15%;"><label>电话<input onchange=fun()></input></label></th>
        <th style="width: 15%;"><label>类型<input onchange=fun()></input></label></th>
        <th style="width: 10%;"><button id="clean">还原</th>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button id="del0" class="rsuDelete">删除</button></td>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button id="del1" class="rsuDelete">删除</button></td>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button id="del2" class="rsuDelete">删除</button></td>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button id="del3" class="rsuDelete">删除</button></td>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button id="del4" class="rsuDelete">删除</button></td>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button id="del5" class="rsuDelete">删除</button></td>
</table>

<div class='pages'>
    <a href="/userMeneger?pageNumber={{pageNumberDel}}"><</a> 
    <a href="/userMeneger?pageNumber={{pageNumberDel}}">{{pageNumberDel}}</a>
    <a href="/userMeneger?pageNumber={{pageNumber}}">{{pageNumber}}</a>
    <a href="/userMeneger?pageNumber={{pageNumberAdd}}" class="thisSelect">{{pageNumberAdd}}</a>
    <a href="/userMeneger?pageNumber={{pageNumberAdd}}">></a>
</div>

</div>

{{!-- 页脚 --}}
<div class="userFoot">
    <h2>© 2019 Internet of Vehicles. by the MLC Team.</h2>
    <p>备案号：浙ICP备19051784号-1</p>
</div>

<script>
    //显示目录
    $('#directory').css("display", 'block');

    /*var user = $("#user").val();//获取账户输入框的账户
    var psd = $("#psd").val();//获取账户输入框的账户
    var userPermission = $("input[name='permission']:checked").val();//获取单选框选择的是哪个值,是什么权限*/
    
    var pageNumber = 0;
    pageNumber = getQueryStringArgs()["pageNumber"] || 0;

    //默认全为空/undefind
    var _id = $("#clean").parents("tr").find("th").eq(0).find("input").val();
    var mail = $("#clean").parents("tr").find("th").eq(1).find("input").val();
    var password = $("#clean").parents("tr").find("th").eq(2).find("input").val();
    var name = $("#clean").parents("tr").find("th").eq(3).find("input").val();
    var phoneNumber = $("#clean").parents("tr").find("th").eq(4).find("input").val();
    var type = $("#clean").parents("tr").find("th").eq(4).find("input").val();

    //修改权限按钮点击事件
    $("#changePermission").click(function () {
        $.get('/userMeneger/changePermission',
            {
               mail: $("#user").val(),
               type: $("input[name='permission']:checked").val()
            },
            function(data){
                alert(data);
            }
        );
        $('#user').val('');
        $('#psd').val('');
        refresh();
    })

    //修改密码按钮点击事件
    $("#changePsd").click(function () {
        $.get('/userMeneger/changePsd',
            {
                mail: $("#user").val(),
                password: $("#psd").val(),
            },
            function(data){
                alert(data);
            }
        );
        $('#user').val('');
        $('#psd').val('');
        refresh();
    })

    //增加账户按钮点击事件
    $("#addUser").click(function () {
        $.get('/userMeneger/addUser',
            {
                mail: $("#user").val(),
                password: $("#psd").val(),
                name: "",
                phoneNumber: "",
                type: "0"
            }
        );
        alert("添加成功");
        $('#user').val('');
        $('#psd').val('');
        refresh();
    })

    //显示数据库的数据到表格中
    refresh()

    //清空表
    function cleanTable() {
        for (var i = 0; i < 8; i++) {
            for (var j = 0; j < 6; j++) {
                var tr = $('#userTable').find('tr');
                $(tr[i + 1]).find('td').eq(j).text("");
            }
        }
    };

    //刷新表格数据
    function refresh() {
        $.get('/userMeneger/getData',
            {
                _id: _id,
                mail: mail,
                password: password,
                name: name,
                phoneNumber: phoneNumber,
                type: type
            },
            function (data) {
                //清空表
                cleanTable();
                if (data.length == undefined) {
                    var tr = $('#userTable').find('tr');
                    $(tr[1]).find('td').eq(0).text(data._id);
                    $(tr[1]).find('td').eq(1).text(data.mail);
                    $(tr[1]).find('td').eq(2).text(data.password);
                    $(tr[1]).find('td').eq(3).text(data.name);
                    $(tr[1]).find('td').eq(4).text(data.phoneNumber);
                    $(tr[1]).find('td').eq(5).text(data.type);
                }
                else {
                    for (var i = 0; i < 8; i++) {
                        var a = []; a[0] = data[i + 8 * pageNumber]._id; a[1] = data[i + 8 * pageNumber].mail;
                        a[2] = data[i + 8 * pageNumber].password; a[3] = data[i + 8 * pageNumber].name; a[4] = data[i + 8 * pageNumber].phoneNumber;
                        a[5] = data[i + 8 * pageNumber].type;
                        for (var j = 0; j < 6; j++) {
                            var tr = $('#userTable').find('tr');
                            $(tr[i + 1]).find('td').eq(j).text(a[j]);
                        }
                    }
                }
            }
        );
    }

    //用来监听input的输入
    function fun() {
        _id = $("#clean").parents("tr").find("th").eq(0).find("input").val();
        mail = $("#clean").parents("tr").find("th").eq(1).find("input").val();
        password = $("#clean").parents("tr").find("th").eq(2).find("input").val();
        name = $("#clean").parents("tr").find("th").eq(3).find("input").val();
        phoneNumber = $("#clean").parents("tr").find("th").eq(4).find("input").val();
        type = $("#clean").parents("tr").find("th").eq(5).find("input").val();
        refresh();
    }

    //用来删除数据，按_id删除
    function del(_id) {
        $.get('/userMeneger/delData',
            { _id: _id },
            function (result) {
                confirm(result);
                refresh();
            }
        );
    }

    //删除按钮，获取当前删除按钮的_id，传递到/rsu/dalData路由并删除
    $("#del0").click(function () {
        var _id = $("#del0").parents("tr").find("td").eq(0).text();
        del(_id);
    })

    $("#del1").click(function () {
        var _id = $("#del1").parents("tr").find("td").eq(0).text();
        del(_id);
    })

    $("#del2").click(function () {
        var _id = $("#del2").parents("tr").find("td").eq(0).text();
        del(_id);
    })

    $("#del3").click(function () {
        var _id = $("#del3").parents("tr").find("td").eq(0).text();
        del(_id);
    })

    $("#del4").click(function () {
        var _id = $("#del4").parents("tr").find("td").eq(0).text();
        del(_id);
    })

    $("#del5").click(function () {
        var _id = $("#del5").parents("tr").find("td").eq(0).text();
        del(_id);
    })

    //清除按钮
    $("#clean").click(function () {
        $("#clean").parents("tr").find("th").eq(0).find("input").val("");
        $("#clean").parents("tr").find("th").eq(1).find("input").val("");
        $("#clean").parents("tr").find("th").eq(2).find("input").val("");
        $("#clean").parents("tr").find("th").eq(3).find("input").val("");
        $("#clean").parents("tr").find("th").eq(4).find("input").val("");
        $("#clean").parents("tr").find("th").eq(5).find("input").val("");
        fun();
    })

    //前端获取url参数
    function getQueryStringArgs() {
        //取得查询字符串并去掉开头的问号
        var qs = (location.search.length > 0 ? location.search.substring(1) : ""),
            //保存数据的对象
            args = {},
            //取得每一项
            items = qs.length ? qs.split("&") : [],
            item = null,
            name = null,
            value = null,
            //在 for 循环中使用
            i = 0,
            len = items.length;
        //逐个将每一项添加到 args 对象中
        for (i = 0; i < len; i++) {
            item = items[i].split("=");
            name = decodeURIComponent(item[0]);
            value = decodeURIComponent(item[1]);
            if (name.length) {
                args[name] = value;
            }
        }
        return args;
    }
</script>